# Dependencies
node_modules
.pnp
.pnp.js

# Build
dist
dist-ssr
*.local

# Environment variables (claves secretas - nunca subir)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor
.vscode
.idea

# OS
.DS_Store
Thumbs.db
